body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hangmanContainer {
    text-align: center;
}

#wordContainer {
    margin-top: 20px;
}

#lettersContainer {
    margin-top: 20px;
}
